[firstbit]
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="Description" content="Error page. For homepage of Zaikun
Zhang, see http://www.zhangzk.net, http://zzk.me" />
<meta name="author" content="Zaikun Zhang"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
###### Zaikun, 15 Feb 2020, Favicon ######
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>
<link rel="manifest" href="/favicon/site.webmanifest"/>
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5"/>
<link rel="shortcut icon" href="/favicon/favicon.ico"/>
<meta name="msapplication-TileColor" content="#2b5797"/>
<meta name="msapplication-config" content="/favicon/browserconfig.xml"/>
<meta name="theme-color" content="#ffffff"/>

# Zaikun, Feb 6, 2014. 
[footerend]
</div>
#####################################################################
<div style="clear: both"></div>
# Clear the  clear the floated blocks, so the footer div will be
# fixed. Necessary because of "myleft" and "myright" below. 
#####################################################################
</div>

# Zaikun, Feb 6, 2014. See the modified css file for h6,
# myleft and myright.
[lastupdated]
#####################################################################
<h6 class="myleft">
Page updated |.
&nbsp;
#  <a href="http://www.prchecker.info/" title="Google Page Rank" target="_blank">
#  <img src="http://pr.prchecker.info/getpr.php?codex=aHR0cDovL3poYW5nemsubmV0&tag=3" 
#  class="button" alt="Google Page Rank" /></a>
#  &nbsp;
#<a 
#href="http://www.revolvermaps.com/?target=enlarge&amp;i=22ifi43sqiq&amp;color=a00000&amp;m=1"><img
#src="http://rc.revolvermaps.com/h/b/9/22ifi43sqiq.png" class="button" 
#alt="Map"  title="Visitors" /></a> 
</h6>
<h6 class="myright">
<a href="http://zhangzk.net">Home</a>
&nbsp;
<a href="http://zhangzk.net/index.html#contact">Contact</a>
#&nbsp;
#<a href="#toptitle">TOP&uarr;</a>
</h6>
#####################################################################
