[firstbit]
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="Description" content="Personal website of ZHANG Zaikun. 张在坤个人主页. 
See http://www.zhangzk.net, http://www.zzk.me" />
<meta name="keywords" content="Zaikun Zhang,张在坤,optimization,优化
,homepage,主页,香港理工大学,Hong Kong Polytechnic University,中科院,中国科学院,Chinese Academy of Sciences,袁亚湘
,Yaxiang Yuan,mathematics,数学,吉林大学,CERFACS,数学与系统科学研究院,中科院数学院,计算数学与科学计算研究所,计算数学所,计算所,email,contact,research"/> 
<meta name="author" content="Zaikun Zhang"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="google-site-verification" content="J6XciSTlKXuT6az3A5XAfle5P5LhG_ARYvyvME5PZx0" />
<link rel="apple-touch-icon" sizes="180x180" href="/figs/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/figs/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/figs/favicon-16x16.png"/>
<link rel="manifest" href="/site.webmanifest"/>
<meta name="msapplication-TileColor" content="#da532c"/>
<meta name="theme-color" content="#ffffff"/>

###### Zaikun, 8 June 2015, Configuration for MathJax ######
# Uncomment if the page includes LaTeX math. 
#[bodystart]
#<!-- MathJax -->
#<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
#</script>
#<script type="text/x-mathjax-config">
#MathJax.Hub.Config({
#	  TeX: { equationNumbers: { autoNumber: "AMS" } }
#});
#</script>
#<!-- End MathJax -->
#</head>
#<body>
############################################################

# Zaikun, Feb 6, 2014. 
[footerend]
</div>
#####################################################################
<div style="clear: both"></div>
# Clear the  clear the floated blocks, so the footer div will be
# fixed. Necessary because of "myleft" and "myright" below. 
#####################################################################
</div>

# Zaikun, Feb 6, 2014. See the modified css file for h6,
# myleft and myright.
[lastupdated]
#####################################################################
<h6 class="myleft">
Page updated in |.
# by <a href="https://github.com/jem/jemdoc">jemdoc</a><a
#href="https://github.com/wsshin/jemdoc_mathjax">+MathJax</a>.
</h6>
<h6 class="myright">
<a href="http://zhangzk.net/index.html">Home</a>
&nbsp;
<a href="http://zhangzk.net/index.html#contact">Contact</a>
&nbsp;
<a href="#toptitle">TOP&uarr;</a>
</h6>
#####################################################################
