[firstbit]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="Description" content="A collection of quotations on mathematics,
science, research, life, education, and society. Collected by Zaikun Zhang.
See also http://www.zhangzk.net, http://www.zzk.me" />
<meta name="keywords" content="quotation,mathematics,science,research,life,education,culture,society"/>
<meta name="author" content="Zaikun Zhang"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="apple-touch-icon" sizes="180x180" href="/figs/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/figs/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/figs/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

###### Zaikun, 8 June 2015, Configuration for MathJax ######
# Uncomment if the page includes LaTeX math. 
#[bodystart]
#<!-- MathJax -->
#<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
#</script>
#<script type="text/x-mathjax-config">
#MathJax.Hub.Config({
#	  TeX: { equationNumbers: { autoNumber: "AMS" } }
#});
#</script>
#<!-- End MathJax -->
#</head>
#<body>
############################################################

# Zaikun, Feb 6, 2014. 
[footerend]
</div>
#####################################################################
<div style="clear: both"></div>
# Clear the  clear the floated blocks, so the footer div will be
# fixed. Necessary because of "myleft" and "myright" below. 
#####################################################################
</div>

# Zaikun, Feb 6, 2014. See the modified css file for h6,
# myleft and myright.
[lastupdated]
#####################################################################
<h6 class="myleft">
#Truth, Justice, Dignity, Freedom.
Vérité, justice, dignité, liberté.
&nbsp;
Wahrheit, Gerechtigkeit, Würde, Freiheit.
&nbsp;
#Page updated |.
#&nbsp;
#  <a href="http://www.prchecker.info/" title="Google Page Rank" target="_blank">
#  <img src="http://pr.prchecker.info/getpr.php?codex=aHR0cDovL3poYW5nemsubmV0&tag=3" 
#  class="button" alt="Google Page Rank" /></a>
#  &nbsp;
#<a 
#href="http://www.revolvermaps.com/?target=enlarge&amp;i=22ifi43sqiq&amp;color=a00000&amp;m=1"><img
#src="http://rc.revolvermaps.com/h/b/9/22ifi43sqiq.png" class="button" 
#alt="Map"  title="Visitors" /></a> 
</h6>
<h6 class="myright">
<a href="http://zhangzk.net/index.html">Home</a>
&nbsp;
<a href="http://zhangzk.net/index.html#contact">Contact</a>
&nbsp;
<a href="#toptitle">TOP&uarr;</a>
</h6>
#####################################################################
